<div class="row">
    <div class="col-12">
        <div class="form-group text-center">
            <select class="form-control" id="selectFont" (change)="getBooks()" [(ngModel)]="selectedLibrary">
                <option value="0">Select Library</option>
                <option *ngFor="let library of libraryList" [value]="library.id">{{library.desc}}</option>
            </select>
          </div>
    </div>
</div>

<section>
    <div class="row"  *ngIf="selectedLibrary > 0">
        <div class="col-8"><h3>Book List</h3></div>
        <div class="col-4"><button type="button" (click)="addBook()" class="btn btn-primary float-right">Add Book</button></div>
    </div>

    <div class="text-center" *ngIf="selectedLibrary != 0 && bookList.length == 0"><h6>No Books Available</h6></div>

    <div class="row" *ngIf="bookList.length > 0">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of bookList; let count = index">
                        <th scope="row">{{count + 1}}</th>
                        <td>{{book.id}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.publisher}}</td>
                        <td>
                            <a href="javascript:void(0)" (click)="editBook(book)">Edit</a>
                            &nbsp; &nbsp;
                            <a href="javascript:void(0)" (click)="deleteBook(book.id)">Delete</a>
                        </td>
                    </tr>
                </tbody>
                </table>
        </div>
    </div>
</section>

